body {
    margin-bottom:60px;
}
table{
    width:100%;
}
table, th, td{
    width:100%;
    border-collapse: collapse;
    border: 1px solid #ced4da;
    text-align: center;
    padding: 0.5rem;

}
td, th{
    text-align: left;
}
td:nth-child(1){

}
th{
    font-weight: bold;
    
}